body{
    background-color: rgb(28, 36, 18);
    color: aliceblue;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#fullContainer {
    width:100%;
}
#buttonContainer {
    margin:auto;
    width: 40%;
}
#goButton {
    margin: auto;
    width: 100%;
    border: 2px darkgray double;
    background: tan;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#sortContainer {
    display: table;
    margin: 0 auto;
    width: 100%;
}
.subContainer {
    display: inline-block;
    width:45%;
    border: 4px black groove;
    margin-top: 1.25%;
}
#bubbleArea {
    margin-left: 2.5%;
}
#quickArea {
    margin-left: 3.75%;
}
.subContainer > h2 {
    margin-left: 5%;
    height: 32px;
    margin-top: 0;
}
.sortElement {
    background-position: center;
    background-repeat: repeat-x;
    position: absolute;
    left: 0px;
    margin: 0;
    padding: 0;
}
.subContainer > div {
    position: relative;
}
.bubbleElement {
    background: url('https://i.ytimg.com/vi/W1Rp8xWsUgc/hqdefault.jpg');
    /*border: 2px aqua ridge;*/
}
.quickElement {
    background: url('https://image.pngaaa.com/464/3053464-middle.png');
    /*border: 2px firebrick ridge;*/
}